.separator {
  background-color: var(--ui-border);
  border: none;
  margin: 0;
  flex-shrink: 0;
}
.horizontal { display: block; height: 1px; width: 100%; }
.vertical { display: inline-block; width: 1px; height: 100%; }
